:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #94bbe9;
  background: #72a2d6;
  background: #638cb8;
  background: radial-gradient(
    circle,
    rgb(80, 113, 149) 50%,
    rgba(53, 110, 184, 1) 100%
  );
}
